* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.akash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    margin: 0 auto;
    min-height: 70vh;
    border: 2px solid black;
    margin-top: 8%;
    border-radius: 6%;
}

.sel {
    padding: 5px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
}

.add-btn {
    width: 50px;
    height: 30px;
    padding: 2px;
    background-color: #38f317;
    color: white;
    border: #38f317;
    border-radius: 10px;
    font-size: 15px;
}

.div {
    width: 400px;
    border: 1px solid black;
    margin-right: 55px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    padding-left: 10px;

}



.btn {
    width: 80px;
    height: 30px;
    padding: 2px;
    background-color: #38f317;
    color: white;
    border: #38f317;
    border-radius: 10px;
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
        .akash {
            width: 500px;
            margin-top: 15%;
        }

        .sel {
            width: 250px;
            font-size: 12px;
            align-items: center;
            margin-left: 65px;
        }

        .add-btn,
        .btn {
            width: 60px;
            height: 30px;
            font-size: 12px;
        }

        .div {
            width: 250px;
            margin-right: 0px;
            margin-bottom: 5px;
            padding-left: 5px;
        }

        .list {
            width: 50px;
        }
    }